{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}WebShell{% endblock %}</h2>
{% endblock %}
{% block content %}
<form class="w3-container" method="post">
    <div class="w3-row">
        <div class="w3-col m11">
            <input type="text" class="w3-input w3-border" name="cmd" id="cmd" placeholder="Command" />
        </div>
        <div class="w3-col m1">
            <input type="submit" class="w3-button" value="Send" />
        </div>
    </div>
</form>
<div class="w3-container">
    <pre>
{{ output }}
    </pre>
</div>
{% endblock %}
