<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - {{config.APP_NAME}}</title>
        <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="w3-bar w3-black">
            <h1 class="w3-bar-item w3-medium" style="margin: 0px; padding-top: 0px; padding-bottom: 0px;"><a class="w3-button" href="{{ url_for('index') }}">{{config.APP_NAME}}</a></h1>
            </nav>
        <header class="w3-container">
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="w3-panel w3-blue">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
        <footer class="w3-container w3-center w3-border-top">
            <em class="w3-small">&copy; Sébastien Adam - 2022 ~ 2024</em>
        </footer>
    </body>
</html>
