{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Login{% endblock %}</h2>
{% endblock %}
{% block content %}
<form class="w3-container" method="post">

    <label>Username</label>
    <input class="w3-input w3-border" type="text" name="username">
    
    <label>Password</label>
    <input class="w3-input w3-border" type="password" name="password">
    
    <input class="w3-button w3-purple" type="submit" value="Send">
</form>
{% endblock %}