{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Error {{error_type}}{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container w3-red">
    <p><strong>Failed!</strong> Same player play again.</p>
</div>
{% endblock %}