{% extends "base.html" %}
{% block header %}
    <h2>{% block title %}Index{% endblock %}</h2>
{% endblock %}
{% block content %}
<div class="w3-container">
    <p>"{{ config.APP_NAME }}" is a malicious site for testing the security of web applications.</p>
</div>
<div class="w3-container">
    <h2>Hacking tools</h2>
    <h3>Javascript injection</h3>
    <ul class="w3-ul w3-border w3-hoverable">
        <li>Stealing cookies: <a href="{{ url_for('js.cookies') }}">{{ url_for('js.cookies') }}</a></li>
        <li>Fake login page from blog post: <a href="{{ url_for('js.phishing') }}">{{ url_for('js.phishing') }}</a></li>
    </ul>
    <h3>Code injection</h3>
    <ul class="w3-ul w3-border w3-hoverable">
        <li>Webshell plugin script: <a href="{{ url_for('plugin.download', path='webshell.py') }}">{{ url_for('plugin.download', path='webshell.py') }}</a></li>
        <li>Webshell plugin template: <a href="{{ url_for('plugin.download', path='webshell.html') }}">{{ url_for('plugin.download', path='webshell.html') }}</a></li>
    </ul>
</div>
{% endblock %}